USE [master]
GO
/****** Object:  Database [TodoManagement]    Script Date: 2024-04-24 오후 5:01:25 ******/
CREATE DATABASE [TodoManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TodoManagement', FILENAME = N'C:\Datas\MSSQL16.MSSQLSERVER\MSSQL\DATA\TodoManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TodoManagement_log', FILENAME = N'C:\Datas\MSSQL16.MSSQLSERVER\MSSQL\DATA\TodoManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TodoManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TodoManagement]
GO
/****** Object:  Table [dbo].[todotbl]    Script Date: 2024-04-24 오후 5:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[todotbl](
	[TodoIdx] [int] IDENTITY(1,1) NOT NULL,
	[userIdx] [int] NOT NULL,
	[Todo] [varchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Place] [varchar](50) NULL,
	[Detail] [varchar](500) NULL,
	[Division] [varchar](10) NOT NULL,
	[Complete] [char](3) NULL,
 CONSTRAINT [PK__todotbl__7006900C829A2559] PRIMARY KEY CLUSTERED 
(
	[TodoIdx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usertbl]    Script Date: 2024-04-24 오후 5:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usertbl](
	[userIdx] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](20) NOT NULL,
	[userId] [varchar](20) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[lastLoginDateTime] [datetime] NULL,
 CONSTRAINT [PK__usertbl__BC880B88801E67BF] PRIMARY KEY CLUSTERED 
(
	[userIdx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[todotbl] ON 

INSERT [dbo].[todotbl] ([TodoIdx], [userIdx], [Todo], [StartDate], [EndDate], [Place], [Detail], [Division], [Complete]) VALUES (2, 1, N'ToyProject', CAST(N'2024-04-24' AS Date), CAST(N'2024-04-25' AS Date), NULL, NULL, N'Public', N'N  ')
INSERT [dbo].[todotbl] ([TodoIdx], [userIdx], [Todo], [StartDate], [EndDate], [Place], [Detail], [Division], [Complete]) VALUES (3, 2, N'ADsP', CAST(N'2024-04-20' AS Date), CAST(N'2024-05-10' AS Date), NULL, NULL, N'Private', N'N  ')
INSERT [dbo].[todotbl] ([TodoIdx], [userIdx], [Todo], [StartDate], [EndDate], [Place], [Detail], [Division], [Complete]) VALUES (4, 2, N'Interview', CAST(N'2024-04-21' AS Date), CAST(N'2024-04-28' AS Date), NULL, NULL, N'Public', N'N  ')
SET IDENTITY_INSERT [dbo].[todotbl] OFF
GO
SET IDENTITY_INSERT [dbo].[usertbl] ON 

INSERT [dbo].[usertbl] ([userIdx], [name], [userId], [password], [lastLoginDateTime]) VALUES (1, N'Yoo', N'admin', N'admin', NULL)
INSERT [dbo].[usertbl] ([userIdx], [name], [userId], [password], [lastLoginDateTime]) VALUES (2, N'Kim', N'manager', N'manager', NULL)
SET IDENTITY_INSERT [dbo].[usertbl] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usertbl__CB9A1CFEC3577916]    Script Date: 2024-04-24 오후 5:01:26 ******/
ALTER TABLE [dbo].[usertbl] ADD  CONSTRAINT [UQ__usertbl__CB9A1CFEC3577916] UNIQUE NONCLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[todotbl]  WITH CHECK ADD  CONSTRAINT [FK_todotbl_usertbl] FOREIGN KEY([userIdx])
REFERENCES [dbo].[usertbl] ([userIdx])
GO
ALTER TABLE [dbo].[todotbl] CHECK CONSTRAINT [FK_todotbl_usertbl]
GO
USE [master]
GO
